ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #095933;
  font-family: 'Coming Soon', cursive;
}

li {
  float: right;
  display: block;
  color: red;
  text-align: center;
  padding: 14px 25px;
  text-decoration: none;
}

li2 {
  float: left;
  display: block;
  text-align: center;
  color: white;
  padding: 14px 20px;
  text-decoration: none;
}

.active {
  background-color: black;
}

body {
  background-color: #1F1E23;
}

img {
  width: 250px;
  height: 250px;
  display: block;
  margin: 0px auto;
  border-radius: 50%;
}

p {
  display: block;
  text-align: center;
  color: white;
  padding: 14px 20px;
}

.content {
  font-size: 18px;
  max-width: 900px;
  margin: auto;
  text-align: center;
}

.content {
  transform: scaleX(0);
  transform-origin: right;
  animation: grow-left cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.5s forwards;
  animation-delay: 0.5s;
}

@keyframes grow-left {
  from {
    transform: scaleX(o);
  }
  to {
    transform: scaleX(1);
  }
}
#element {
  font-family: Monaco, Consolas, "Lucida Console", monospace;

  color: red;
  display: block;
  text-align: center;
  }
